<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.apache.kafka.common.metrics" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="INFO"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="INFO"/>
    <logger name="org.apache.kafka.streams.StreamsConfig" level="INFO"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="WARN"/>
    <logger name="io.confluent.kafka.serializers" level="WARN"/>
</configuration>